/* SIDE BAR */
.tab-navigation {
  display: flex;
  background-color: radial-gradient(
    circle farthest-corner at 10% 70% ,
    #f9d0bb,
    #f3d3de,
    transparent
  );
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.tab {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.tab:hover {
  background-color: #e0e0e0;
  border-color: #ccc;
}



/* ABOUT US */
.aboutus {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px ;
    text-align: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;

  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: center;
  }
  
  .welcome{
    font-style: italic;
    text-align: center;
    margin-top: -15px;
    font-weight: bold;
    color: #f80057;
  }
  /* .who{
  } */
  .who h1{
    font-size: 25px;
    color: black;
    margin-top: -15px;
  }
  .who p{
    margin-top: -10px;
  }
  .mission{
    margin-bottom: -40px;
  }
  .mission h1{
    font-size: 25px;
    color: black;
  }
  .problem-statement{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    max-width: 450px;
    margin-top: 100px;
    max-height: 435px;
    padding: 10px;
    border-radius: 4px;
  }

  .problem-statement h1{
    font-size: 25px;
    color: black;
  }
.payment-statement{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px;
  max-width: 500px;
  margin-left: 50%;
  margin-top: -290px;
  max-height: 425px;
  font-size: 18px;
}
.payment-statement h1{
  font-size: 25px;
  color: black;
}
.zencart-experience{
  max-width: 1000px;
  margin-top: 10%;
}
.zencart-experience span{
  color: #e75a14;
}
.end{
  font-weight: bold;
}

.end span{
  color: #e75a14;
}
  /* HELP PAGE */
  .help {
    margin: 0 auto;
    padding: 20px;
  }
  
  .help-buyers, .help-sellers {
    flex: 1;
    padding: 20px;
    align-items: center;
    margin-left: 5%;
  }
  
  .buyers, .sellers {
    font-size:30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #e75a14;
  }
  
  .help-p {
    text-align: left;
    font-size: 16px;
    max-width: 1000px;
    line-height: 1.6;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  ul {
    padding-left: 20px;
  }
  
  /* TERMS */
  .terms {
    margin: 0 auto;
    padding: 20px;
  }
  
  .terms-buyers, .terms-sellers {
    flex: 1;
    padding: 20px;
    align-items: center;
    margin-left: 5%;
  }
  
  .terms-buyers {
    margin-right: 100px; 
  }
  
  .buyers, .sellers {
    font-size:30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #e75a14;
  }
  /* .terms{
    text-align: left;
    font-size: 16px;
    max-width: 1000px;
    line-height: 1.6;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  } */
  
.terms-ul {
    padding-left: 20px;
  }
  
  /* CONTACT PAGE */
  .contact-us {
    max-width: 800px;
    margin-top: -23%;
    margin-left: 40%;
    padding-left: 10px;
  }
  svg {
    height: 23rem;
    margin-right: 4rem;
    margin-top: 7%;
    animation: float 2s ease-in-out infinite;
  }
/*   
  #envelope {
    animation: float 2s ease-in-out infinite;
  }
   */
  .contact-us h1{
    font-size: larger;
  }
  .contact-us p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .contact-details {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-info {
    flex: 1;
    padding: 10px;
  }
  
  .contact-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .contact-info p {
    font-size: 16px;
    margin: 0;
  }
  