.form_container {
    border: 1px solid #e77373;
    border-width: 1px; /* Adjust the border width */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center the content horizontally */
  }
  
  .form_container input,
  .form_container textarea,
  .form_container select {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-bottom: 10px;
  }

.input-label {
    display: block;
    
  }
  
  .input-field {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-left: 10px; /* Adjust the value as needed */ 
  }
  
  .product_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #d34040;
    color: #ffffff;
    border: 2px solid #e77373;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .product_button:hover {
    background-color: #f07a3f;
    color: #ffffff;
    border-color: #f07a3f;
  }
  