
.product-details {
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #fff;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 30%;
  }
  
  .image-details {
    max-width: 50%;
    max-height: 300px;
    width: auto; 
    height: auto; 
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 4%;
  }

  .info-details{
    margin-left: 40%;
    margin-top: -45%;
    max-width: 600px;
  }
  
  .name-details {
    font-size: 24px;
    margin: 10px 0;
    margin-top: 20%;
    margin-left: 30%;

  }
  
  .price-details {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    font-weight: normal;
    margin-left: -40px;
  }
  
  .quantity-details {
    font-size: 16px;
    margin: 5px 0;
    font-weight: lighter;
    margin-left: 20%;
    margin-top: -25px;
    margin-bottom: 60px;
  }
  meter {
    width: 20%;
    height: 10px;
    margin-left: 4%;
  }
  
.product-description {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .quantity-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 2px solid black;
    padding: 1px;
    width: 90px;
    border-radius: 4px;
  }
  
  .quantity-info {
    display: flex;
    align-items: center;
  }
  
  .down-button,
  .up-button {
    font-size: 17px;
    cursor: pointer;
    margin:0px 7px;
    color: rgb(142, 141, 141);
  }
  .down-button:hover,
  .up-button:hover{
    color: black;
  }
  .quantity-value {
    font-size: 15px;
    margin:0px 10px;
  }

.details-buttons{
    margin-right: 10%;
    margin-top: -10%;
    margin-bottom: 5%;
    
}
  .add-to-cart-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: 0.5px solid black;
    margin-right: 10%;
  }
  .add-to-cart-button:hover{
    background-color: black;
    color: white;
  }
  .buy-now-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    margin-right: 10%;
  }
  .buy-now-button:hover{
    background-color: white;
    color: black;
    border: 0.5px solid black;
  }
  
  .customer-reviews {
    margin-top: 20px;
  }
  
  .reviews-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .review {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .rating {
    font-size: 24px;
    color: gold;
    margin-right: 10px;
  }
  
  .star {
    cursor: pointer;
  }
  
  .star.filled {
    color: gold;
  }

  
  
  .notification {
    width: 360px;
    padding: 15px;
    margin-left: 70%;
    background-color: white;
    border-radius: 16px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 1;
    transform: translateY(200%);
    animation: noti 2s infinite forwards alternate ease-in;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* margin-bottom: 15px; */
    }
    &-title {
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }
    &-close {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F0F2F5;
      font-size: 14px;
    }
    &-container {
      display: flex;
      align-items: flex-start;
    }
    &-media {
          position: relative;
    }
    &-user-avatar {
      max-width: 60px;
      height: 60px;
      border-radius: 60px;
    }
    &-reaction {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      color: white;
      background-image: linear-gradient(45deg, #0070E1, #14ABFE);
      font-size: 14px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &-content {
      width: calc(100% - 60px);
      padding-left: 20px;
      line-height: 1.2;
    }
    &-text {
          margin-bottom: 5px;
      display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
      padding-right: 50px;
  
    }
    &-timer {
      color: #1876F2;
      font-weight: 600;
      font-size: 14px;
    }
    &-status {
      position: absolute;
      right: 15px;
      top: 50%;
      /* transform: translateY(-50%); */
      width: 15px;
      height: 15px;
      background-color: #1876F2;
      border-radius: 50%;
    }
  }
  @keyframes noti{
    50%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(0);
    }
  }