/* Slide container */
.carousel-container {
    overflow: hidden;
    margin-top: 6%;
    justify-content: flex-start;
    align-items: center;
    max-width: 800px; 
    max-height: 400px;
    position: centre;
    margin-left: 5%;
    width: 100%;
    border: 2px solid rgb(97, 43, 43);
    margin-bottom: 10%;
  }
  
  .carousel .slide {
    transition-duration: 0.5s; 
  }

  .slide{
    height: auto!important;
    width:auto ;
    object-fit: cover;
    margin-left: 40%;
  }

  .carousel-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 
  