
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital@1&display=swap');



body {
  background-color: white;
}

.top-bar {
  background: radial-gradient(
    circle farthest-corner at 10% 70% ,
    #e75a14,
    #f80057,
    transparent
  );
  height: 70px; 
  display: flex;
  align-items: center; 
}

.shopping-bag{
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: 2%;
}
.animated-text {
  font-size: 30px;
  white-space: nowrap;
  margin-left: 15%;
  color: white;
  font-weight: bolder;
  overflow: hidden;
  animation: typeInOut 7s infinite;
}
@keyframes typeInOut {
  0% {
    width: 0;
    opacity: 0.5;
  }
  50% {
    width: 35%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.35);
  padding: 10px 20px;
  color: rgb(4, 4, 4);
}
.navbar-list {
  list-style: none;
  margin: 0;
  margin-right: 10%;
  display: flex;
  gap: 60px;
  font-size: 14px;
  font-weight: bolder;
}

.userbar-link,
.helpbar-link{
  text-decoration: none;
  color: black;
  padding: 3px 5px;
}
.userbar-link:hover, 
.helpbar-link:hover{
  border: 0.2px solid rgb(27, 26, 26) ;
  color: white;
  background-color: grey;
  padding: 3px 5px;
  border-radius: 3px;
}

.navbar-button {
 margin-left: 8%;
}
.navbar-button button {
  width: 150px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-button button:hover {
  background-color: #e0dede;
  color: white;
}
.sellerbar-link{
  text-decoration: none;
}
.sellerbar-link h3{
  font-size: 14px;
  text-decoration: none;
  margin-top: 2px;
  color: #444242;
}

.navbarthird{
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: rgb(4, 4, 4);
  box-shadow: 0px 0px 8px #b7b7b7;
  height: 55px;
  margin-top: 5px;
}

.logo {
  max-width: 150px;
  margin-left: 90px;
  font-size: 45px;
  text-decoration: none;
}
.logo-link {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.logo span {
  color: #e74c3c; 
}
.cart-link{
  margin-right: 100px;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
}
.cart-link:hover{
  color: #e80057;
}

.search-bar {
  align-items: center;
  margin-right: 18px;
  margin-top: 10px;
}
.search-bar input {
  width: 400px; 
  padding: 6px; 
  border: 2px solid #e74c3c;
  border-radius: 4px;
  margin-right: 10px;
}
.search-results {
  position: absolute;
  width: 20%;
  text-decoration: none;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(236, 108, 108, 0.1);
  z-index: 1000;
  list-style: none;
}

.search-result-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  text-decoration-color: #e8b691;
  color: #000000;
  transition: background-color 0.2s;
}

.search-result-link:hover {
  background-color: #f5f5f5;
}

.search-result-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  box-shadow: 1px 1px 0px #d2d1d1;
}

.search-result-name {
  font-weight: bold;
}

/* .results-list{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
} */

.container2 {
  display: flex;
  margin-right: 10px;
  margin-bottom: -30px;

}

.sidebar {
  margin-top: 45px;
  margin-left: 70px;
  width: 300px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  flex: 1;
}
h2 .sidebar{
  align-items: center;
}
.sidebar-links {
  display: flex; 
  margin-top: -15px;
  align-items: center;
  padding: 20px; 
  text-decoration: none; 
  color: black;
}
.sidebar-links:hover{
  color: white;
  background-color: #e80057;
  font-weight: bold;
}
.sidebar h2{
margin-left: 40px;
  margin-top: 40px;
}
.sidebar i{
  margin-right: 10px;
}

.little img {
  height: auto; 
  max-width: 800px; 
  display: block; 
  margin-top: -60px;
  margin-left: 60px;
}
.smiles img {
  height: 50%; 
  max-width: 800px; 
  display: inline-block; 
  margin-top: -160px;
  margin-left: 185%;
  border-radius: 5px;
  position: relative;
}

.smiles {
  position: relative;
  display: inline-block;
}

.text-bubble {
  position: absolute;
  bottom: 10px;
  left: 60%;
  transform: translateX(-60%);
}

.text-bubble1, .text-bubble2, .text-bubble3 {
  background-color: #f80057;
  padding: 8px;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-bubble1 {
  margin-top: -270px;
  transform: translateX(477%);
}

.text-bubble2 {
  margin-top: 20px;
  transform: translateX(485%);
}

.text-bubble3 {
  margin-top: 30px;
  transform: translateX(500%);
}

.homegrid{
  margin-top: 10%;
  
}
.cta-container {
  text-align: center;
  margin-top: 15px;
  margin-left: 55%;
}

.cta-button {
  background-color: #f80057;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}


/* CART */
.your-cart{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 35px;
  color: #b7b7b7;
}
.inside-cart ul {
  list-style: none;
  margin: 0;
  max-width: 90%;
  margin-left: 5%;
  max-width: 900px;
}
.cart-item {
  padding: 10px;
  margin-bottom: 10px;
  border-left: 3px solid black;
}
.cart-product-image{
  float: left; width: 8%;
}
.cart-product-name{
  margin-left: 10%; width: 37%; margin-top: -5px;text-align: left;
  margin-bottom: -10px; font-weight: bold;
}
.cart-product-des{
  margin-left: 10%; width: 37%; margin-left: 10%; 
  font-size: 17px;
}
.cart-product-price { 
  margin-left: 46%; width: 12%; margin-top: -72px;
  font-size: 15px;
 }
 .quantity-control{
  display: flex;
  justify-content: center;
  padding: 1px;
  width: 90px;
  border-radius: 4px;
  margin-left: 59%;
  margin-top: -45px;
 }
 .quantity-control button{
  max-height: 19px;
  margin-top: 3px;
  border: none;
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: underline #e80057;
 }
 .quantity-control button:hover{
  color: #e80057;
 }
 .cart-product-quantity{
    display: flex;
    align-items: center;
    padding: 10px 13px;
    margin-top: -10px;
    font-size: 16px;
 }
 .remove-button{
  margin-left: 58%;
  border-color: #e75a14;
  color: white;
  background-color: #e75a14;
  font-weight: bold;
 }
 .remove-button:hover{
  background-color: white;
  color:#e75a14 ;
 }

.cart-summary {
  border: 1px solid #e0e0e0;
  padding: 17px;
  background-color: white;
  max-width: 16%;
  margin-left: 77%;
  margin-top: -120px;
}
.cart-summary h1{
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
}
.cart-summary p {
  margin: 5px 0;
  margin-bottom: 10px;
  text-align: justify;
  font-weight: 600;
}

.cart-summary span{
  margin-left: 37px;
  text-align: left;
  font-weight: 300;
}
.checkout-button {
  background-color: #f80057;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.checkout-button:hover{
  background-color: white;
  color: #e80057;
  border: 1px solid #e80057;
}
.clear-cart-button {
  color: rgb(143, 141, 141);
  box-shadow: 2px  rgb(143, 141, 141);
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.clear-cart-button:hover{
  color: white;
  background: #000000;
}

/* NAVBAR DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.dropdown-btn:hover .arrow {
  transform: rotate(180deg);
}

.dropdown-content {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  width: 200px;
}

.dropdown-btn:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.dropdown-content li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown-content li:last-child {
  border-bottom: none;
}

.dropdown-content a {
  text-decoration: none;
  color: #333;
  display: block;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  transition: transform 0.3s;
  margin-left: 5px;
}
.grid-pets {
  background-color: #b7b7b7;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
}
.grid-pets h2{
  font-weight: lighter;
  color: #000000;
}
.grid-pets span{
  font-size: 30px;
  font-weight: bold;
  color: #e80057;
}
.grid-p{
  display: flex;
  justify-content: center;
  padding-left: 12px;
}
.grid-pets{
  background-color: #b7b7b7;
  border-top: 30px solid #f80057;
  border-left: 1px solid #f80057;
  border-right: 1px solid #f80057;
  border-bottom: 3px solid #f80057;
  border-radius: 10px;
  background-color: white;
  /* margin-top: -26%; */
  margin-top: -200px;
  max-width: 470px;
  max-height: 100px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  margin-left: 61.5%;
}

.grid-id {
  max-height: 60px;
  max-width: 50px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-image {
  max-width: 100%;
  height: auto;
}


/* CATEGORY PAGES */
.category-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-left: 28.5%;
  margin-top: -30%;
  padding-right: 20px;
}

.product-id-cat {
  max-width: 350px;
  max-height: 300px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.product-id-cat img {
  width: 150px;
  max-height: 160px;
  object-fit: fill;
}

.product-link-cat {
  color: #333;
  text-decoration: none;
}

.product-price-cat {
  color: #000000;
  margin-top: 10px;
}

.empty-cart {
  text-align: center;
  margin-top: -30px;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.empty-cart p {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.empty-cart a {
  display: inline-block;
  background-color: #f80057;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
.empty-cart a:hover {
  background-color: #e6004c;
}

.empty-cart .fa-basket-shopping {
  margin-left: 5%;
  margin-top: -20px;
  font-size: 64px;
  color: #f80057;
  margin-bottom: 10px;
}

.custom-buttom{
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.popup-add{
  box-shadow: rgba(246, 141, 141, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-size: 12px;
  margin-top: 6px;
  padding: 1px 3px;
}