body {
  background-color: #E3DED3;
}
body {
  background-color: #E3DED3;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  
  padding: 1px; /* Adjust the padding as needed */
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end; /* Align items to the right */
}

.navbar-list li {
  margin-left: 50px; /* Adjust the space between items as needed */
}

.navbar-link {
  display: inline-block;
  margin-right: 0px;
  margin-top: 20px;
  color: black;
  font-size: 20px;
}
